@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:700|Open+Sans:400,400i,700');

body {
  margin: 5px 10px;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p, a, ul, ol, li {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  margin: 1em 0 3em;
}

a,
a:visited {
  color: #85B4BE;
}

a:hover,
a:active {
  color: #33727F;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  letter-spacing: 1px;
  margin: 0 0 1em;
}

ul.social {
  text-align: center;
  font-size: 8px;
}

ul.social li {
  display: inline-block;
  margin: 0 5px;
}

ul.social li:first-child {
  margin-left: 0;
}

ul.social li:last-child {
  margin-right: 0;
}

img {
  width: 100%;
}

hr {
  margin: 20px;
  border-color: #ccc;
  border-bottom: none;
}

footer p {
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

{% if layout.full-page %}

  html {
    background: url(https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_900/v1539408113/hands.jpg) no-repeat center center fixed;
    background-image: 
      -webkit-image-set(
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_900/v1539408113/hands.jpg" 1x,
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_1800/v1539408113/hands.jpg" 2x,
      );
    background-image: 
      image-set(
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_900/v1539408113/hands.jpg" 1x,
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_1800/v1539408113/hands.jpg" 2x,
      );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media
    (min-width: 900px) {
    html {
      background: url(https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg) no-repeat center center fixed;
      background-image: 
        -webkit-image-set(
          "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 1x,
          "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 2x,
        );
      background-image: 
        image-set(
          "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 1x,
          "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 2x,
        );
    }
  }

  header p {
    margin-bottom: 2em;
  }

  .content-wrapper {
    text-align: center;
    text-transform: uppercase;
  }

  .content-wrapper article h1 {
    margin-bottom: 0;
  }

  .content-wrapper article {
    margin-bottom: 4em;
  }

{% endif %}
