html {
  background: black url(https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_900/v1539408113/hands.jpg) no-repeat center center fixed;
  background-image: 
    -webkit-image-set(
      "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_900/v1539408113/hands.jpg" 1x,
      "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_1800/v1539408113/hands.jpg" 2x,
    );
  background-image: 
    image-set(
      "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_900/v1539408113/hands.jpg" 1x,
      "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_1800/v1539408113/hands.jpg" 2x,
    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media
  (min-width: 900px) {
  html {
    background: black url(https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg) no-repeat center center fixed;
    background-image: 
      -webkit-image-set(
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 1x,
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 2x,
      );
    background-image: 
      image-set(
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 1x,
        "https://res.cloudinary.com/deedobzcr/image/upload/c_scale,w_2048/v1539408113/hands.jpg" 2x,
      );
  }
}
