<style>

  /* Universal Styles */
  body {
    background-color: black;
  }

  a,
  a:hover,
  a:focus {
    color: #f58634;
    text-decoration: none;
  }

  .img-responsive {
    max-width: 100%;
    display: block;
  }

  /* Nav & Social Shared Styles */
  nav ul,
  .social ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav li,
  .social li {
    display: inline-block;
  }

  /* Nav Styles */
  nav {
    border-top: solid white 0.1rem;
    border-bottom: solid white 0.1rem;
    margin-bottom: 2.5rem;
    padding: 1.5rem 0 1.5rem;
  }


  nav li {
    margin: 0 2.0rem;
    font-size: 2.0rem;
  }

  /* Intro Styles */
  .intro {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('intro.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
  }

  .intro-content {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .intro-content h2 {
    font-size: 2.5rem;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  /* Social Styles */
  .social li {
    margin: 0 0.5rem;
  }

  .social a,
  .social a:hover,
  .social a:focus {
    color: white;
    font-size: 1.5rem;
  }

  .social .fa-inverse {
    color: black;
  }

</style>
