<style>

  /* Universal Styles */
  @media (min-width: 1000px) {
    body {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('intro.jpg') no-repeat center center fixed;
      background-color: black;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  @media (max-width: 999px) {
    body {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('intro.jpg') no-repeat center left fixed;
      background-color: black;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  a,
  a:hover,
  a:focus {
    color: #f58634;
    text-decoration: none;
  }

  .button {
    color: white;
    margin-bottom: 2rem;
  }

  .button:hover,
  .button:focus {
    color: white;
  }

  .img-responsive {
    max-width: 100%;
    display: block;
  }

  /* Universal Nav & Social Shared Styles */
  nav ul,
  .social ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav li,
  .social li {
    display: inline-block;
  }

  /* Universal Nav Styles */
  nav {
    border-top: solid white 0.1rem;
    border-bottom: solid white 0.1rem;
    margin-bottom: 2.5rem;
    padding: 1.5rem 0 1.5rem;
  }

  /* Mobile Nav Styles */
  @media (max-width: 999px) {
    .desktop-nav {
      display: none;
    }
    
    .desktop-social {
      display: none;
    }

    .mobile-nav li {
      margin: 0 0.7rem;
      font-size: 1.5rem;
    }
  }

  /* Desktop Nav Styles */
  @media (min-width: 1000px) {
    .mobile-nav {
      display: none;
    }
    
    .mobile-social {
      display: none;
    }

    .desktop-nav li {
      margin: 0 2.0rem;
      font-size: 1.5rem;
    }
  }

  /* Universal Intro Styles */
  .intro {
    color: white;
    text-align: center;
  }
  
  .intro-2 {
    color: white;
    text-align: center;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
  }

  /* Mobile Intro Styles */
  @media (max-width: 999px) {
    .intro-content {
      margin-right: auto;
      margin-left: auto;
      padding: 0 15px;
      max-width: 350px;
    }
    
    .intro-content-2 {
      margin-right: auto;
      margin-left: auto;
      padding: 0 15px;
      max-width: 350px;
    }

    .intro-content h2 {
      font-size: 2.0rem;
    }
    
    .intro-content-2 h2 {
      font-size: 2.0rem;
    }

    .logo {
      padding-top: 30px;
    }
  }

  /* Desktop Intro Styles */
  @media (min-width: 1000px) {
    .intro {
      height: 100vh;
      position: relative;
    }
    
    .logo-box {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 600px;
    }
    
    .buttons {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 600px;
    }
    
    .intro-2 {
      height: 100vh;
      position: relative;
    }

    .intro-content {
      max-width: 600px;
    }
    
    .intro-content-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 600px;
    }

    .intro-content h2 {
      font-size: 2.4rem;
    }
    
    .intro-content-2 h2 {
      font-size: 2.4rem;
    }
  }

  /* Universal Social Styles */
  .social {
    margin-bottom: 2.5rem;
  }

  .social a,
  .social a:hover,
  .social a:focus {
    color: white;
  }

  .social .fa-inverse {
    color: black;
  }

  /* Mobile Social Styles */
  @media (max-width: 999px) {
    .social a,
    .social a:hover,
    .social a:focus {
      font-size: 1.3rem;
    }

    .social {
      padding-bottom: 30px;
    }

    .social li {
      margin: 0 0.1rem;
    }
  }

  /* Desktop Social Styles */
  @media (min-width: 1000px) {
    .social a,
    .social a:hover,
    .social a:focus {
      font-size: 1.3rem;
    }

    .social li {
      margin: 0 0.5rem;
    }
  }

</style>
